.boxContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 550px;
  height: 500px;
  border-radius: 30px;
  border: 1px black solid;
  margin: auto;
  padding: 20px;
}